# ─────────────────────────────
# ⚙️ Core
node_modules/
dist/
*.log
*.lock
!.pnpm-lock.yaml

# ─────────────────────────────
# 🧩 Build Artifacts
*.tgz
*.gz
.temp/
.cache/
.eslintcache

# ─────────────────────────────
# 🧠 IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# ─────────────────────────────
# 🌐 Environments
.env
.env.local
.env.*.local

# ─────────────────────────────
# 🪣 System Files
.DS_Store
Thumbs.db
desktop.ini

# ─────────────────────────────
# 🧱 Nuxt Specific
.nuxt/
.output/
